<div class="leave-container">
  <button class="deleteButton" (click)="DeleteLeave()">Delete</button>
  <mat-form-field>
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dls" placeholder="Leave Start Date" [formControl]="leave_start">
    <mat-datepicker-toggle matSuffix [for]="dls"></mat-datepicker-toggle>
    <mat-datepicker #dls></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [min]="leave_start" [max]="maxDate" [matDatepicker]="dle" placeholder="Leave End Date" [formControl]="leave_end">
    <mat-datepicker-toggle matSuffix [for]="dle"></mat-datepicker-toggle>
    <mat-datepicker #dle></mat-datepicker>
  </mat-form-field>
  <span>
    Number of days
  </span>
</div>
