.main {
  display: flex;
  justify-content: space-around;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.main>div>p>span {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.addLeave {
  display: flex;
  justify-content: center;
}

.addLeave>button {
  width: auto;
  height: auto;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 0.5vw;
  margin: auto;
  margin-bottom: 0.5vw;
}

.leaveContainer {
  border-style: dashed;
  border-width: 0.5px;
  margin: auto;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  margin-bottom: 1vw;
  width: 90%;


}

.addLeave>button:disabled {
  background-color: #eee;
  cursor: not-allowed;
}
