<div class="main">
  <mat-form-field>
    <input matInput [matDatepicker]="doj" placeholder="Date of joining" [formControl]="date_of_joining">
    <mat-datepicker-toggle matSuffix [for]="doj"></mat-datepicker-toggle>
    <mat-datepicker #doj></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input type="number" #dbi [formControl]="days_before_increment" matInput placeholder="Days before increment">
  </mat-form-field>
</div>

<div id="leaveContainer">
  <app-leave *ngFor="let leave of leaves"></app-leave>
</div>

<div id="addLeave">
  <button>Add Leave</button>
</div>
